In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder, StandardScaler
Label = LabelEncoder()
Ss = StandardScaler()
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('bank-full.csv')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [6]:
df.describe(include = 'all')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
count,45211.000000,45211,45211,45211,45211,45211.000000,45211,45211,45211,45211.000000,45211,45211.000000,45211.000000,45211.000000,45211.000000,45211,45211
unique,NaN,12,3,4,2,NaN,2,2,3,NaN,12,NaN,NaN,NaN,NaN,4,2
top,NaN,blue-collar,married,secondary,no,NaN,yes,no,cellular,NaN,may,NaN,NaN,NaN,NaN,unknown,no
freq,NaN,9732,27214,23202,44396,NaN,25130,37967,29285,NaN,13766,NaN,NaN,NaN,NaN,36959,39922
mean,40.936210,NaN,NaN,NaN,NaN,1362.272058,NaN,NaN,NaN,15.806419,NaN,258.163080,2.763841,40.197828,0.580323,NaN,NaN
std,10.618762,NaN,NaN,NaN,NaN,3044.765829,NaN,NaN,NaN,8.322476,NaN,257.527812,3.098021,100.128746,2.303441,NaN,NaN
min,18.000000,NaN,NaN,NaN,NaN,-8019.000000,NaN,NaN,NaN,1.000000,NaN,0.000000,1.000000,-1.000000,0.000000,NaN,NaN
25%,33.000000,NaN,NaN,NaN,NaN,72.000000,NaN,NaN,NaN,8.000000,NaN,103.000000,1.000000,-1.000000,0.000000,NaN,NaN
50%,39.000000,NaN,NaN,NaN,NaN,448.000000,NaN,NaN,NaN,16.000000,NaN,180.000000,2.000000,-1.000000,0.000000,NaN,NaN
75%,48.000000,NaN,NaN,NaN,NaN,1428.000000,NaN,NaN,NaN,21.000000,NaN,319.000000,3.000000,-1.000000,0.000000,NaN,NaN
max,95.000000,NaN,NaN,NaN,NaN,102127.000000,NaN,NaN,NaN,31.000000,NaN,4918.000000,63.000000,871.000000,275.000000,NaN,NaN

In [7]:
df.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [8]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [9]:
df.shape

(45211, 17)

In [10]:
nd = df.select_dtypes(np.number)
cd = df.select_dtypes(object)

In [11]:
cd.head()

,job,marital,education,default,housing,loan,contact,month,poutcome,y
0,management,married,tertiary,no,yes,no,unknown,may,unknown,no
1,technician,single,secondary,no,yes,no,unknown,may,unknown,no
2,entrepreneur,married,secondary,no,yes,yes,unknown,may,unknown,no
3,blue-collar,married,unknown,no,yes,no,unknown,may,unknown,no
4,unknown,single,unknown,no,no,no,unknown,may,unknown,no

In [20]:
cd.nunique()

job          12
marital       3
education     4
default       2
housing       2
loan          2
contact       3
month        12
poutcome      4
y             2
dtype: int64

In [22]:
cd1 = cd.apply(Label.fit_transform)

In [23]:
cd1.head()

,job,marital,education,default,housing,loan,contact,month,poutcome,y
0,4,1,2,0,1,0,2,8,3,0
1,9,2,1,0,1,0,2,8,3,0
2,2,1,1,0,1,1,2,8,3,0
3,1,1,3,0,1,0,2,8,3,0
4,11,2,3,0,0,0,2,8,3,0

In [27]:
nd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       45211 non-null  int64
 1   balance   45211 non-null  int64
 2   day       45211 non-null  int64
 3   duration  45211 non-null  int64
 4   campaign  45211 non-null  int64
 5   pdays     45211 non-null  int64
 6   previous  45211 non-null  int64
dtypes: int64(7)
memory usage: 2.4 MB

In [30]:
nd1 = pd.DataFrame(Ss.fit_transform(nd), columns = nd.columns)
nd1.head()

        age   balance       day  duration  campaign     pdays  previous
0  1.606965  0.256419 -1.298476  0.011016 -0.569351 -0.411453  -0.25194
1  0.288529 -0.437895 -1.298476 -0.416127 -0.569351 -0.411453  -0.25194
2 -0.747384 -0.446762 -1.298476 -0.707361 -0.569351 -0.411453  -0.25194
3  0.571051  0.047205 -1.298476 -0.645231 -0.569351 -0.411453  -0.25194
4 -0.747384 -0.447091 -1.298476 -0.233620 -0.569351 -0.411453  -0.25194

In [32]:
nd2 = nd1.round()
nd2.head()

   age  balance  day  duration  campaign  pdays  previous
0  2.0      0.0 -1.0       0.0      -1.0   -0.0      -0.0
1  0.0     -0.0 -1.0      -0.0      -1.0   -0.0      -0.0
2 -1.0     -0.0 -1.0      -1.0      -1.0   -0.0      -0.0
3  1.0      0.0 -1.0      -1.0      -1.0   -0.0      -0.0
4 -1.0     -0.0 -1.0      -0.0      -1.0   -0.0      -0.0

In [40]:
nd3 = nd2.astype(int)

In [41]:
data = pd.concat([nd3,cd1], axis = 1)

In [42]:
data.head()

,age,balance,day,duration,campaign,pdays,previous,job,marital,education,default,housing,loan,contact,month,poutcome,y
0,2,0,-1,0,-1,0,0,4,1,2,0,1,0,2,8,3,0
1,0,0,-1,0,-1,0,0,9,2,1,0,1,0,2,8,3,0
2,-1,0,-1,-1,-1,0,0,2,1,1,0,1,1,2,8,3,0
3,1,0,-1,-1,-1,0,0,1,1,3,0,1,0,2,8,3,0
4,-1,0,-1,0,-1,0,0,11,2,3,0,0,0,2,8,3,0

In [43]:
X = data.drop(['y'], axis = 1)
y = data[['y']]

In [46]:
X_train,X_test,y_train,y_test = train_test_split(X, y , test_size = 0.2, random_state = 0)

In [47]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(36168, 16)
(9043, 16)
(36168, 1)
(9043, 1)

In [48]:
from sklearn.linear_model import LogisticRegression
Lr =  LogisticRegression()
Lr.fit(X_train, y_train)
y_pred = Lr.predict(X_test)
print("Logistic Regression train score:",Lr.score(X_train,y_train))
print("Logistic Regression test score:",Lr.score(X_test,y_test))

Logistic Regression train score: 0.8913127626631276
Logistic Regression test score: 0.8880902355413026

In [52]:
print("precision_score is: ", precision_score(y_test,y_pred, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred, average = 'weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred))
ac1 = accuracy_score(y_test,y_pred)

precision_score is:  0.8625685299992035
recall_score is : 0.8880902355413026
accuracy_score is:      0.8880902355413026

In [53]:
from sklearn.neighbors import KNeighborsClassifier

KNN = KNeighborsClassifier()
KNN.fit(X_train,y_train)
y_pred2 = KNN.predict(X_test)
print("KNN train score:",KNN.score(X_train,y_train))
print("KNN test score:",KNN.score(X_test,y_test))

KNN train score: 0.9211181154611812
KNN test score: 0.8910759703638174

In [54]:
print("precision_score is: ", precision_score(y_test,y_pred2, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred2, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred2,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred2))
ac2 = accuracy_score(y_test,y_pred2)

precision_score is:  0.8720165744012872
recall_score is : 0.8910759703638174
f1_score is:      0.8758611057590144
accuracy_score is:      0.8910759703638174

In [55]:
from sklearn.svm import SVC

SVC = SVC()
SVC.fit(X_train,y_train)
y_pred3 = SVC.predict(X_test)
print("SVC train score:",SVC.score(X_train,y_train))
print("SVC test score:",SVC.score(X_test,y_test))

SVC train score: 0.8916998451669984
SVC test score: 0.8887537321685282

In [56]:
print("precision_score is: ", precision_score(y_test,y_pred3, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred3, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred3,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred3))
ac3 =  accuracy_score(y_test,y_pred3)

precision_score is:  0.8642114583319425
recall_score is : 0.8887537321685282
f1_score is:      0.8545132956323015
accuracy_score is:      0.8887537321685282

In [57]:
from sklearn.naive_bayes import GaussianNB

NB = GaussianNB()
NB.fit(X_train,y_train)
y_pred4 = NB.predict(X_test)
print("NB train score:",NB.score(X_train,y_train))
print("NB test score:",NB.score(X_test,y_test))

NB train score: 0.8443928334439283
NB test score: 0.840207895609864

In [58]:
print("precision_score is: ", precision_score(y_test,y_pred4, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred4, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred4,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred4))
ac4 = accuracy_score(y_test,y_pred4)

precision_score is:  0.8542580296168749
recall_score is : 0.840207895609864
f1_score is:      0.8466605874594086
accuracy_score is:      0.840207895609864

In [59]:
from sklearn.tree import DecisionTreeClassifier

DTC = DecisionTreeClassifier(criterion='gini', splitter='best', 
      max_depth=5000, min_samples_split=2, min_samples_leaf=1, 
      min_weight_fraction_leaf=0.0, max_features=None, 
      random_state=None, max_leaf_nodes=None, 
      min_impurity_decrease=0, min_impurity_split=None, 
      class_weight=None, ccp_alpha=0)

DTC.fit(X_train,y_train)
y_pred5 = DTC.predict(X_test)
print("DTC train score:",DTC.score(X_train,y_train))
print("DTC test score:",DTC.score(X_test,y_test))

DTC train score: 0.9938896261888963
DTC test score: 0.8700652438350105

In [60]:
print("precision_score is: ", precision_score(y_test,y_pred5, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred5, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred5,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred5))
ac5 = accuracy_score(y_test,y_pred5)

precision_score is:  0.8702241750410488
recall_score is : 0.8700652438350105
f1_score is:      0.8701445759548423
accuracy_score is:      0.8700652438350105

In [61]:
from sklearn.ensemble import RandomForestClassifier

RFC = RandomForestClassifier(n_estimators=500, criterion='gini', max_depth=None, 
                             min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, 
                             max_features='log2', max_leaf_nodes=None, min_impurity_decrease=0.0, 
                             min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=-1, 
                             random_state=None, verbose=0, warm_start=False, class_weight=None, 
                             ccp_alpha=0.0, max_samples=None)

RFC.fit(X_train,y_train)
y_pred6 = RFC.predict(X_test)
print("RFC train score:",RFC.score(X_train,y_train))
print("RFC test score:",RFC.score(X_test,y_test))

RFC train score: 0.9938896261888963
RFC test score: 0.8984850160345018

In [62]:
print("precision_score is: ", precision_score(y_test,y_pred6, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred6, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred6,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred6))
ac6 =  accuracy_score(y_test,y_pred6)

precision_score is:  0.8892220147479214
recall_score is : 0.8984850160345018
f1_score is:      0.8926138207648343
accuracy_score is:      0.8984850160345018

In [63]:
from sklearn.ensemble import BaggingClassifier

BC = BaggingClassifier(base_estimator = DTC)
BC.fit(X_train,y_train)
y_pred7 = BC.predict(X_test)
print("BC train score:",BC.score(X_train,y_train))
print("BC test score:",BC.score(X_test,y_test))

BC train score: 0.9861479761114798
BC test score: 0.8912971359062258

In [64]:
print("precision_score is: ", precision_score(y_test,y_pred7, average = 'macro'))
print("recall_score is :", recall_score(y_test,y_pred7, average = 'macro'))
print("f1_score is:     ", f1_score(y_test,y_pred7,average='macro'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred7))
ac7 = accuracy_score(y_test,y_pred7)

precision_score is:  0.7370419062962261
recall_score is : 0.693782374562936
f1_score is:      0.7121527168039861
accuracy_score is:      0.8912971359062258

In [65]:
from sklearn.ensemble import AdaBoostClassifier

ADB = AdaBoostClassifier()
ADB.fit(X_train, y_train)
y_pred8 = ADB.predict(X_test)
print("ADB train score:",ADB.score(X_train,y_train))
print("ADB test score:",ADB.score(X_test,y_test))

ADB train score: 0.9002156602521566
ADB test score: 0.8958310295255999

In [66]:
print("precision_score is: ", precision_score(y_test,y_pred8, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred8, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred8,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred8))
ac8 = accuracy_score(y_test,y_pred8)

precision_score is:  0.8794427023806465
recall_score is : 0.8958310295255999
f1_score is:      0.882463840000903
accuracy_score is:      0.8958310295255999

In [67]:
from sklearn.linear_model import Perceptron
PR = Perceptron()
PR.fit(X_train,y_train)
y_pred9 = PR.predict(X_test)
print("PR train score:",PR.score(X_train,y_train))
print("PR test score:",PR.score(X_test,y_test))

PR train score: 0.8842623313426233
PR test score: 0.885104500718788

In [68]:
print("accuracy_score is:     ", accuracy_score(y_test,y_pred9))
ac9 = accuracy_score(y_test,y_pred9)

accuracy_score is:      0.885104500718788

In [69]:
from sklearn.ensemble import GradientBoostingClassifier

GBC = GradientBoostingClassifier()
GBC.fit(X_train, y_train)
y_pred10 = GBC.predict(X_test)
print("GBC train score:",GBC.score(X_train,y_train))
print("GBC test score:",GBC.score(X_test,y_test))

GBC train score: 0.9088144215881442
GBC test score: 0.8978215194072764

In [70]:
print("precision_score is: ", precision_score(y_test,y_pred10, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred10, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred10 ,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred10))
ac10 = accuracy_score(y_test,y_pred10)

precision_score is:  0.8832379260848237
recall_score is : 0.8978215194072764
f1_score is:      0.8864163687631431
accuracy_score is:      0.8978215194072764

In [71]:
from sklearn.linear_model import SGDClassifier

SGD = SGDClassifier()
SGD.fit(X_train,y_train)
y_pred11 = SGD.predict(X_test)
print("SGD train score:",SGD.score(X_train,y_train))
print("SGD test score:",SGD.score(X_test,y_test))

SGD train score: 0.8891008626410086
SGD test score: 0.8858785801172178

In [72]:
print("precision_score is: ", precision_score(y_test,y_pred11, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred11, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred11 ,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred11))
ac11 = accuracy_score(y_test,y_pred11)

precision_score is:  0.8557541345230536
recall_score is : 0.8858785801172178
f1_score is:      0.8516002586547193
accuracy_score is:      0.8858785801172178

In [73]:
from sklearn.ensemble import VotingClassifier
VotingClassifierModel = VotingClassifier(estimators=[('Logistic model',Lr),('KNN',KNN),('Support Vector Machines',SVC),
                                                     ('Naive Bayes classifier',NB),('Decision Tree',DTC),('Random Forrest',RFC),
                                                     ('BaggingClassifier',BC),('AdaBoostClassifier',ADB),('Perceptron',PR),
                                                    ('Gradient Boosting Classifier',GBC), ('Stochastic Gradient Descent',SGD)],
voting='hard')
VotingClassifierModel.fit(X_test, y_test)
print('VotingClassifierModel Train Score is : ' , VotingClassifierModel.score(X_train, y_train))
print('VotingClassifierModel Test Score is : ' , VotingClassifierModel.score(X_test, y_test))

VotingClassifierModel Train Score is :  0.8960683477106834
VotingClassifierModel Test Score is :  0.9212650669025766

In [74]:
y_pred12 = VotingClassifierModel.predict(X_test)
print('Predicted Value for VotingClassifierModel is : ' , y_pred12)

Predicted Value for VotingClassifierModel is :  [0 1 0 ... 0 0 0]

In [75]:
print("precision_score is: ", precision_score(y_test,y_pred12, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred12, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred12 ,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred12))
ac12 = accuracy_score(y_test,y_pred12)

precision_score is:  0.9165202468195343
recall_score is : 0.9212650669025766
f1_score is:      0.908521791478427
accuracy_score is:      0.9212650669025766

In [76]:
Models = pd.DataFrame({
    'Model' : ['Logistic Regression','KNN or k-Nearest Neighbors','Support Vector Machines',
              'Naive Bayes classifier', 'Decision Tree', 'Random Forrest', 'BaggingClassifier',
              'AdaBoostClassifier','Perceptron','Gradient Boosting Classifier',
              'Stochastic Gradient Descent','VotingClassifier'],
    'Score' : [ac1,ac2,ac3,ac4,ac5,ac6,ac7,ac8,ac9,ac10,ac11,ac12]
})

Models.sort_values(by = 'Score', ascending = False)

                           Model     Score
11              VotingClassifier  0.921265
5                 Random Forrest  0.898485
9   Gradient Boosting Classifier  0.897822
7             AdaBoostClassifier  0.895831
6              BaggingClassifier  0.891297
1     KNN or k-Nearest Neighbors  0.891076
2        Support Vector Machines  0.888754
0            Logistic Regression  0.888090
10   Stochastic Gradient Descent  0.885879
8                     Perceptron  0.885105
4                  Decision Tree  0.870065
3         Naive Bayes classifier  0.840208